<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Management System</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/employee/employee.css">
  <link rel="stylesheet" href="/css/adminmodule/menubar.css">
  <link rel="stylesheet" href="/bootstrap_icon_css/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/charts/apexcharts.css">
  <script src="/boxicon/dist/boxicons.js"></script>
  <link rel="stylesheet" href="/boxicon/css/boxicons.min.css">

  <script src="/js/bootstrap.js"></script>
</head>

<body onload="chartShow()">
  <div class="container-div">
    <div class="admin">
      <%- include('../partials/adminmenubar') %>
        <div class="rightbar">
          <%- include('../partials/navigation') %>
            <div class="bodypage">
              <div class="row1">
                <div class="cards d-flex my-5">
                  <div class="card text-center mx-4">
                    <a href="/admin/managers" class="list-group-item list-group-item-action">
                      <div class="card-body my-3 text-dark">
                        <p class="card-text h1">
                          <%=managerCount%>
                        </p>
                        <h5 class="card-title">Managers</h5>
                      </div>
                    </a>
                  </div>
                  <div class="card text-center mx-4 ">
                    <a href="/admin/employees" class="list-group-item list-group-item-action">
                      <div class="card-body my-3 text-dark">
                        <p class="card-text h1">
                          <%=employeeCount%>
                        </p>
                        <h5 class="card-title">Employees</h5>
                      </div>
                    </a>
                  </div>
                  <div class="card text-center mx-4 ">
                    <a href="/admin/team" class="list-group-item list-group-item-action">
                      <div class="card-body my-3 mx-5 text-dark">
                        <p class="card-text h1">
                          <%=teamCount%>
                        </p>
                        <h5 class="card-title">Teams</h5>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row1 my-5">
                <h4 class="m-3"></h4>
                <div class="cards d-flex">
                  <div class="card text-center mx-4 text-dark">
                    <a href="/admin/tasks" class="list-group-item list-group-item-action">
                      <div class="card-body my-3">
                        <p class="card-text h1">
                          <%=totalTask%>
                        </p>
                        <h5 class="card-title">Tasks</h5>
                      </div>
                    </a>
                  </div>
                  <div class="card text-center mx-4 text-dark">
                    <a href="/admin/category" class="list-group-item list-group-item-action">
                      <div class="card-body my-3">
                        <p class="card-text h1">
                          <%=category%>
                        </p>
                        <h5 class="card-title">Category</h5>
                      </div>
                    </a>
                  </div>
                  <div class="card text-center mx-4 text-dark">
                    <div class="card-body my-3">
                      <p class="card-text h1">
                        <%=completedCount%>
                      </p>
                      <h5 class="card-title">Completed Task</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row1 mx-5 my-5 d-flex">
                <div class="col1 my-4">
                  <h4 class="mx-4">chart</h4>
                  <div class=" p-2">
                    <div id="chart"></div>
                  </div>
                </div>
                <div class="col2 my-4" style="width: 45%;">
                  <div>
                    <div class="position-relative">
                      <div>
                        <h4 class="mx-4">Task Logs</h4>
                      </div>
                      <div class="position-absolute top-0 end-0 mx-4 h4 rounded text-white"
                        style="background-color: #0A1828;">
                        <i class='bx bx-refresh p-1' onclick="managerAssignTask()" style="cursor: pointer;"></i>
                      </div>
                    </div>
                  </div>
                  <div class="m-3 p-3" id="recentActivity">
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  <script src="/charts/apexcharts.min.js"></script>
  <script src="/js/adminmodule/chart.js"></script>

</body>

</html>